In [ ]:
#Defining the Question
#>>to develop a model that predicts whether a patient will be diagnosed with diabetes

#I can define the metric for success
#>> a model that predicts with >=85% accuracy

#provide background information surrounding the problem or research question

#record the experimental design, and detail data relevance.

In [ ]:
#Import Libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
#read data

diabetes_df = pd.read_csv('https://bit.ly/DiabetesDS')

In [ ]:
#size of dataset
diabetes_df.shape

(768, 9)

In [ ]:
#determine first records
diabetes_df.head(5)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
#determine last records
diabetes_df.tail(5)

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
#exploring the data types of the features of a dataset.

diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
## DATA PREPARATION
# standadise column names

diabetes_df_rename = diabetes_df.str.replace('BloodPressure', 'Blood Pressure').str.replace('SkinThickness', 'Skin Thickness').str.replace('DiabetesPedigreeFunction', 'Diabetes Pedigree Function').str.strip()

In [ ]:
diabetes_df_rename

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
#checking for missing data

diabetes_df.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

NO MISSING DATA

In [ ]:
#CHECKING FOR DUPLICATES

diabetes_df.duplicated().sum()

0

NO DUPLICATES

In [ ]:
#define the training data & test data 
# X is the input ; Y is the output
#x = diabetes_df.iloc[:,6:13]

x = diabetes_df.drop(['Outcome'], axis=1)

y = diabetes_df['Outcome']

In [ ]:
x.head(3)

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32

[3 rows x 8 columns]

In [ ]:
y.head(3)

0    1
1    0
2    1
Name: Outcome, dtype: int64

In [ ]:
# DATA MODELLING

## instantiate the model- linear regression
model_1= LogisticRegression(random_state=12345, solver='liblinear')
model_2 = DecisionTreeClassifier(random_state=12345)
model_3 = RandomForestClassifier(random_state=12345, n_estimators=9)

In [ ]:
# splitting into test & training

xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.25, random_state = 12345 )

In [ ]:
#FITTING/SCORING THE DATA USING SEVERAL MODELS

# LOGISTIC REGRESSION
model_1.fit(xtrain, ytrain)
print('Accuracy',model_1.score(xtest,ytest))

Accuracy 0.7916666666666666

In [ ]:
# decision tree
model_2.fit(xtrain, ytrain)
print('Accuracy',model_2.score(xtest,ytest))

Accuracy 0.78125

In [145]:
# Random Forest
model_3.fit(xtrain, ytrain)
print('Accuracy',model_3.score(xtest,ytest))

Accuracy 0.8020833333333334

Summary of Findings and Recommendations

random forest has the best result at 0.8 using 9 trees.